.bg {
	background: rgb(252, 252, 255);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow-x: hidden;
}

.heroText {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.heroText h1 {
	text-align: center;
	font-size: 750%;
	background: linear-gradient(
		111.19deg,
		rgb(170, 255, 236) -63.59%,
		rgb(255, 78, 205) -20.3%,
		rgb(0, 112, 243) 70.46%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.curveSection {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 10%;
	padding-top: 100px;
	background: linear-gradient(
		111.19deg,
		rgb(170, 255, 236) -63.59%,
		rgb(255, 78, 205) -20.3%,
		rgb(0, 112, 243) 70.46%
	);
}

.curve {
	position: absolute;
	height: 125px;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.curve::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	transform: translate(85%, 60%);
	background: rgb(252, 252, 255);
}

.curve::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	top: 0px;
	left: 0px;
	width: 55%;
	height: 100%;
	background: linear-gradient(
		111.19deg,
		rgb(170, 255, 236) -63.59%,
		rgb(255, 78, 205) -20.3%,
		rgb(0, 112, 243) 120.46%
	);
	transform: translate(-4%, 40%);
}
