package.json
yarn.lock
node-modules
lovassyapp-web
src/assets
.expo
.expo-shared
.vscode
.env
.env.example
.prettierignore
android/
ios/
.gitignore
link.sh
.java-version
release-*
.npmrc
build-android.sh
get_android_build.sh
